.problem-list-container {
  background-color: #2b3d52;
  width: 100%;
}

.problem-item {
  border-radius: 50%;
  color: #8291a3;
  border: 2px solid #8291a3;
}

.detail-problem-list-container {
  background-color: white;
}

.problem-list-container {
  color: white;
  h2 {
    font-weight: 300;
    color: white;
    font-family: Gotham A, Gotham B, sans-serif;
  }
}

.problem-title-container {
  background-color: white;
  border-radius: 20px;
  padding: 8px 8px;
}

.solved-detail-problem {
  background-color: #44bf7e;
  border: none;
  color: white;
}

.problem-solver {
  resize: none;
  color: white;
  background-color: black;
}

.problem-detail-container {
  overflow: hidden;
  border-radius: 20px;
}